header {
    background-color: #222;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .menu a:hover {
    background-color: #FF00FF;
    color: #fff;
  }
  