body {
    background-color: rgb(16, 15, 54);
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

@media (min-width: 1024px) {
 .lg\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 768px) {

    .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
    }
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.items-center {
    align-items: center;
}



.flex {
    display: flex;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.w-40 {
    width: 10rem;
}

img, video {
    max-width: 100%;
    height: auto;
}

.w-full {
    width: 100%;
}



@media (min-width: 768px) {
.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
  } 
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.place-content-center {
    place-content: center;
}

.flex-col {
    flex-direction: column;
}

.max-w-screen-xl {
    max-width: 100vw;
}

 .growbutton {
    
 }


 .linkcolor {

   background: linear-gradient(to right, #2e00ce, #4b00ff, #5a17ff, #3e00eb);
   background-clip: text;
  -webkit-text-fill-color: transparent;
 }

  .text-blue {
    color: #0055ff;
  }



 .colorfulbutton {
     background-color: 113, 3, 168 !important;
     cursor: pointer;
     color: white;
 }

.w-full {
    width: 100%;
}

.h-\[70vh\] {
    height: 70vh;
    
}

.flex {
    display: flex;
}

.fixed {
    position: fixed;
}



.overflow-y-auto {
    overflow-y: auto;
}
.hidden {
    display: none;
}
.z-30 {
    z-index: 30;
}
.inset-0, .inset-y-0 {
    top: 0;
    bottom: 0;
}
.inset-0 {
    right: 0;
    left: 0;
}
.pointer-events-none {
    pointer-events: none;
}


.hidden {
    display: none;
}
.z-30 {
    z-index: 30;
}
.inset-0, .inset-y-0 {
    top: 0;
    bottom: 0;
}
.inset-0 {
    right: 0;
    left: 0;
}




@media (min-width: 640px) {

 .sm\:left-auto{left:auto}.sm\:col-span-1{grid-column:span 1/span 1}.sm\:ml-0\.5{margin-left:.125rem}.sm\:ml-0{margin-left:0}.sm\:mr-0\.5{margin-right:.125rem}.sm\:mr-0{margin-right:0}.sm\:mr-2{margin-right:.5rem}.sm\:h-auto{height:auto}.sm\:h-full{height:100%}.sm\:w-auto{width:auto}.sm\:w-\[400px\]{width:400px}.sm\:max-w-\[470px\]{max-width:470px}.sm\:max-w-\[800px\]{max-width:800px}.sm\:max-w-\[471px\]{max-width:471px}.sm\:max-w-\[660px\]{max-width:660px}.sm\:max-w-\[673px\]{max-width:673px}.sm\:max-w-\[500px\]{max-width:500px}.sm\:max-w-\[550px\]{max-width:550px}.sm\:cursor-grab{cursor:-webkit-grab;cursor:grab}.sm\:self-start{align-self:flex-start}.sm\:overflow-x-visible{overflow-x:visible}.sm\:overflow-y-scroll{overflow-y:scroll}.sm\:rounded-4xl{border-radius:2.1875rem}.sm\:border-black{--tw-border-opacity:1;border-color:rgb(38 38 38/var(--tw-border-opacity))}.sm\:bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.sm\:bg-none{background-image:none}.sm\:p-16{padding:4rem}.sm\:px-11{padding-left:2.75rem;padding-right:2.75rem}.sm\:px-16{padding-left:4rem;padding-right:4rem}.sm\:py-8{padding-top:2rem;padding-bottom:2rem}.sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}.sm\:px-0{padding-left:0;padding-right:0}.sm\:px-4{padding-left:1rem;padding-right:1rem}.sm\:py-2{padding-top:.5rem;padding-bottom:.5rem}.sm\:pr-6{padding-right:1.5rem}.sm\:text-left{text-align:left}.sm\:text-xl{font-size:1.25rem;line-height:1.75rem}.sm\:text-black{--tw-text-opacity:1;color:rgb(38 38 38/var(--tw-text-opacity))}
}




.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.pt-12 {
    padding-top: 3rem;
}
.pb-9 {
    padding-bottom: 2.25rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.p-2 {
    padding: .5rem
}

@media (min-width: 640px) {

    .p-2 {
        padding: 2.75rem;
    }
  


}

@media (min-width: 1285px) {
   

}

.shadow, .shadow-glow-primary {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.shadow-glow-primary {
    --tw-shadow: 0 0 10px #0f09c1d8;
    --tw-shadow-colored: 0 0 10px var(--tw-shadow-color);
}



.bg-main-transparent-gradient {
    background-image: linear-gradient(117.06deg,rgba(53,80,112,.85),rgba(53,80,112,.26) 101.95%);
}

.border-\[\#4d6c90\] {
    --tw-border-opacity: 1;
    border-color: rgb(77 108 144/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-4xl {
    border-radius: 2.1875rem;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}

@media (min-width: 768px) {
.md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
 }
}
.font-extrabold {
    font-weight: 800;
}

.text-lg, .text-xl {
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
}
.font-qanelas-soft {
    font-family: Qanelas Soft;
}
.text-center {
    text-align: center;
}
.mb-4 {
    margin-bottom: 1rem;
}

.pb-20 {
    padding-bottom: 5rem;
}
.relative {
    position: relative;
}

:root,body {
    font-size: 16px
}
body {
    margin: 0;
    line-height: inherit;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
@media screen and (min-width: 768px) {
.md\:w-max {
   
    width: max-content;
  }
}

